{% extends 'base.html' %}

{% block title %}Videos - Csksir.com{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Video Tutorials</h2>
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="video-card">
            <h5>JEE Main Physics Tutorial</h5>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/[Video ID 1]" title="JEE Main Physics" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="video-card">
            <h5>NEET Biology Tutorial</h5>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/[Video ID 2]" title="NEET Biology" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}